.App {
  background-color: #282c34;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-clase {
  color: #bdbdbd;
}

.mi-clase.active,
.mi-clase:hover {
  color: white;
}


/* SearchBar.css */

.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 16px;
  margin-left: 0;
  width: 100%;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 600px) {
  .search {
    margin-left: 24px;
    width: auto;
  }
}

.search-icon-wrapper {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-base {
  color: inherit;
  width: 100%;
}

.input-base input {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  transition: width 200ms ease;
  width: 100%;
}

@media (min-width: 960px) {
  .input-base input {
    width: 39ch;
  }
}


